.container
  .col-md-8
    .message-box
      %h1.message
        「毎日の服選びが面倒なあなたに。」
  .col-md-4
    %h2.title アカウントの編集
    = form_for(resource, class: "form-group", as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .edit_user__field-content
        #img_edit{:onclick => "$('#file').click()"}
          - if resource.image.present?
            = image_tag(resource.image.to_s)
          - else
            = image_tag "default.jpg"
        = f.file_field :image, class: "image", style: "display:none;", id: "file"
      .edit_user__field-content
        = f.label :username
        %br/
        = f.text_field :username
      .edit_user__field-content
        = f.label '年齢'
        %br/
        = f.text_field :age
      .edit_user__field-content
        = f.label '性別'
        %br/
        = f.label '男性'
        = f.radio_button :gender, :man
        = f.label '女性'
        = f.radio_button :gender, :woman
        = f.label '回答しない'
        = f.radio_button :gender, :neutral
      .edit_user__field-content
        = f.label '新しいパスワード'
        - if @minimum_password_length
          %em
            (#{@minimum_password_length}文字以上)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .edit_user__field-content
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .edit_user__field-content
        = f.label '現在使っているパスワード'
        %br/
        %i (パスワードを変更するのに必要です)
        %br/
        = f.password_field :current_password, autocomplete: "current-password"
      .edit_user__btns 
        = f.submit "更新", class:"btn btn-info"
        .btn.btn-default
          = link_to "コーデ一覧へ戻る", :back