/ main
%section.main
  .inner
    %h1 『毎日の服選びが面倒なあなたに。』
    %p
      毎朝の意思決定を減らし
      %br.sp-br
      ストレスフリーな生活への第一歩
      %br.sp-br/
    %p -ネット上のあなた専用のクローゼット-

-# LP用haml

/ feartures
%section.features
  .inner
    %h2.section-ttl.effect-fade
      %span>
        %i.fas.fa-lightbulb
      Features
    %p.section-summary.effect-fade -アプリの特徴-
    %p.effect-fade
      自分が撮ったコーデ写真の投稿・確認・編集・削除が可能。
      %br.pc-br
      ボタン１つでランダム表示して、毎日の服選びを簡単にしてくれるアプリ。
      %br.pc-br
      カテゴリー別表示で、その日の気分ごとにコーデ一覧を視覚的に整理できるので、
      %br.pc-br
      意思決定をよりスピーディーにしてくれる。
/ gallary
%section.gallary.effect-fade
  .inner
    %h2.section-ttl.effect-fade
      %span>
        %i.fas.fa-camera
      Gallery
    %p.section-summary.effect-fade -実際のアプリ内画面です-
    .gallary-box#gallary-box-pc
      .inner.gallary_inner#gallary_inner-pc
        .gallary-item.gallary-item-pc.effect-fade
          = image_tag asset_path('gallary-1.jpg', alt: 'ギャラリー写真1')
          .js-accordion
            .content
              %p
                ご自身で撮影したコーデ写真を見やすい形で管理できるアプリです。
                等間隔でコーデの写真のみが並んでいるので、過去に投稿した写真を確認しやすい設計となっています。
                PCの場合は、マウスを乗せた時にコーデ名が表示されます。
        .gallary-item.gallary-item-pc.effect-fade
          = image_tag asset_path('gallary-2.jpg', alt: 'ギャラリー写真2')
          .js-accordion
            .content
              %p
                コーデの写真を投稿するのはとっても簡単。
                写真とコーデ名に合わせて、どんな気分の時にそのコーデを着こなしたいか選ぶだけです。
                プレビュー機能で投稿前にどの写真が保存させるか確認できますし、間違えて他の写真を投稿しても後から編集・削除が可能です。
        .gallary-item.gallary-item-pc.effect-fade
          = image_tag asset_path('gallary-3.jpg', alt: 'ギャラリー写真3')
          .js-accordion
            .content
              %p
                コーデ一覧画面では、投稿時に登録した気分ごとに表示が可能となっています。
                コーデの数が多くなってきたり、一覧を見てもなかなか決められない時は、今の気分を選択して表示されるコーデを絞り込むことで決めやすくなります。
        .gallary-item.gallary-item-pc.effect-fade
          = image_tag asset_path('gallary-4.jpg', alt: 'ギャラリー写真4')
          .js-accordion
            .content
              %p
                気分で絞り込んでも決められない時もあるかもしれませんが、心配はご無用です。
                コーデ一覧の上にある大きな「今日のコーデを決める！」を押せば、OOTDがランダムに選んで提案してくれます。
                気分で絞り込んだ後に使えば、より少ない選択肢の中から提案してくれるので、簡単に今日のコーデを決められます。
/ how to
%section.howTo.effect-fade
  .inner
    %h2.section-ttl.effect-fade
      %span>
        %i.fas.fa-spinner
      How To Use
    %p.section-summary.effect-fade -使い方-
    .step.effect-fade
      .stepBox
        .inner.stepBox_inner.effect-fade
          %h3 STEP 1
          %span.step-ttl.effect-fade まずは新規登録から
          .step-flex
            .icon
              %i.fas.fa-user-plus
            %div
              %p.step-p.effect-fade
                アカウント名やパスワードを設定して自分のアカウントを作成しよう。
        .inner.stepBox_inner.effect-fade
          %h3 STEP 2
          %span.step-ttl.step2-ttl.effect-fade お気に入りのコーデをアップしよう！
          #step-flex_sp-margin.step-flex
            .icon
              %i.fas.fa-upload
            %div
              %p.step-p.effect-fade
                毎日アップして自分だけの専用クローゼットに！気分別にタグ付けしてカテゴライズできます。
        .inner.stepBox_inner.effect-fade
          %h3 STEP 3
          %span.step-ttl.effect-fade OOTDが選びます！
          .step-flex
            .icon
              %i.fas.fa-person-booth
            %div
              %p.step-p.effect-fade
                朝の気分を選択して「今日のコーデを決める！」ボタンを押すだけで服装を選んでくれます。
/ signup
%section#signup-form.signup.effect-fade
  .sign-up-form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      %h2.section-ttl
        %span
        %i.fas.fa-sign-in-alt
        Sign up
      = render "devise/shared/error_messages", resource: resource
      .txtb
        = f.text_field :username
        %span{"data-placeholder" => "Username"}
      .txtb
        = f.email_field :email, autofocus: true, autocomplete: "email"
        %span{"data-placeholder" => "Email"}
      .txtb
        = f.text_field :age
        %span{"data-placeholder" => "Age"}
      .txtb
        = f.radio_button :gender, :man, class: 'default-radio radio-inline__input', id: "item-1"
        = f.label '男性', class: 'radio-inline__label', for: "item-1"
        = f.radio_button :gender, :woman, class: 'default-radio radio-inline__input', id: "item-2"
        = f.label '女性', class: 'radio-inline__label', for: "item-2"
        = f.radio_button :gender, :neutral, class: 'default-radio radio-inline__input', id: "item-3"
        = f.label '回答しない', class: 'radio-inline__label', for: "item-3"
        %span{"data-placeholder" => "Gender"}
      - if @sns_id.present?
        = hidden_field_tag :sns_auth, true
      - else
        .txtb
          -# - if @minimum_password_length
          -#   %em
          -#     (#{@minimum_password_length}文字以上)
          = f.password_field :password, autocomplete: "new-password"
          %span{"data-placeholder" => "Password　(6文字以上)"}
        .txtb
          = f.password_field :password_confirmation, autocomplete: "new-password"
          %span{"data-placeholder" => "Password confirmation"}
      #new_user__btns 
        = f.submit "アカウント作成", class:"btn btn-success"
        = link_to "ログイン", new_session_path(resource_name), class: "btn btn-primary"
        = link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn btn-warning"