.modal-content#modal
  = image_tag 'formal-man3.jpg', alt: '画像を表示できませんでした', height: '600px', width: '400px', class: 'modal-content__selected-outfit'
  %p.modal-content__modal-message 
    このコーデはいかがでしょうか！お似合いですよ♪
  %a.modal-close
    = icon('fa','window-close')
    閉じる
  %span.modal-content__next-outfit
    次のコーデを選ぶ
.main
  .main__upper
    .main__upper__actions
      .main__upper__actions__category
        = form_for @outfit_tag, url: outfits_path do |form|
          .form-group
            = form.select :tagname, options_for_select(Tag.all.pluck(:tagname).uniq.map.with_index(1){|o, index| [o, {'data-tag_id'=>index}]}, Tag.first.tagname), {}, {class: 'form-control', id: 'h'}
            = form.text_field :tagname, class: 'form-control'
            = form.submit '新しいカテゴリーを追加'
      
      .main__upper__actions__decide
        .modal-open
          今日のコーデを決める！
      = link_to "コーデを追加", new_outfit_path, class: "main__upper__actions__add"
  .main__lower
    .container
      .main__lower__title
        コーデ一覧
      #outfit-list
        - @outfits.each do |outfit|
          = link_to outfit_path(outfit) do
            .col-md-4#a-outfit
              = image_tag outfit.image.to_s, id: "outfit-image"
              #outfit-tag
                - outfit.tags.each do |tag|
                  = tag.tagname
              #outfit-name
                = outfit.name
      #selected-list
-# jQueryで、カテゴリーが選択された時には、そのカテゴリーのコーデリスト
-# だけを表示できるようにする。その際は、上記の#outfit-listはdisabledにする
