
#modal.modal-content
.main
  .main__upper
    .main__upper__actions
      .main__upper__actions__category
        = form_with(url: search_outfits_path, local: true, method: :get, class: "search-form") do |form|
          .form-group
            = select_tag :mood, options_for_select(@moods.map{|o| [o.name, o.id, {class: 'mood-choice'}]}), {class: 'search-input', id: 'category-form'}
        = form_for @mood, url: outfits_path do |form|
          .mood-add-group
            = form.text_field :name, placeholder: "例) オシャレしたい", class: 'add-mood-form'
            = form.submit '追加', class: 'mood-add btn btn-success'
      
      .modal-open.button-2
        今日のコーデを決める！
  .main__lower
    .container
      .main__lower__title
        コーデ一覧
        = link_to new_outfit_path, class: "add-path" do
          %span コーデを追加
          %i.fas.fa-arrow-right
      #outfit-list
        - @outfits.each do |outfit|
          = link_to outfit_path(outfit) do
            .col-md-4#a-outfit.cp_tooltiptext{data: {tooltip: "#{outfit.name}"}}
              = image_tag outfit.image.to_s, id: "outfit-image"
