
#modal.modal-content
.main
  .main__upper
    .main__upper__actions
      .main__upper__actions__category
        = form_with(url: search_outfits_path, local: true, method: :get, class: "search-form") do |form|
          .form-group
            = select_tag :mood, options_for_select(@moods.map{|o| [o.name, o.id, {class: 'mood-choice'}]}), {class: 'search-input', id: 'category-form'}
            -# .tag-add-group
              -# = form.text_field :tagname, class: 'add-tag-form'
              -# = form.submit '追加', class: 'tag-add btn btn-success'
      
      .modal-open.button-2
        今日のコーデを決める！
  .main__lower
    .container
      .main__lower__title
        コーデ一覧
        = link_to new_outfit_path, class: "add-path" do
          %span コーデを追加
          %i.fas.fa-arrow-right
      #outfit-list
        - @outfits.each do |outfit|
          = link_to outfit_path(outfit) do
            .col-md-4#a-outfit
              = image_tag outfit.image.to_s, id: "outfit-image"
              #outfit-mood
                = outfit.mood.name
              #outfit-name
                = outfit.name
      -# #selected-list
      -#   - @outfitsSelected.each do |outfit|
      -#     = link_to outfit_path(outfit) do
      -#       .col-md-4#a-outfit
      -#         = image_tag outfit.image.to_s, id: "outfit-image"
      -#         #outfit-mood
      -#           = outfit.mood.name
      -#         #outfit-name
      -#           = outfit.name
-# jQueryで、カテゴリーが選択された時には、そのカテゴリーのコーデリスト
-# だけを表示できるようにする。その際は、上記の#outfit-listはdisabledにする
