.main
  .main__upper
    .container
      = link_to outfits_path, class: 'backward col-md-1' do
        %span.back-icon
          = icon('fa fa-2x','angle-double-left')
        %span.backward-btn
          戻る
      .main__upper__title
        コーデの追加
      .main__upper__cover
        = form_for @outfit do |f|
          .row
            #img_field{:onclick => "$('#file').click()"}

              %i.fas.fa-image
              %i.fas.fa-file-upload.add
            = f.file_field :image, class: "image", style: "display:none;", id: "file"
            .col-md
              .form-group#flexbox
                #add-message
                  右のボタンを押すとリセット
                  %label#add-outfit
                    = link_to icon('fa fa-2x','undo-alt'), new_outfit_path

          .row
            .col-md
              .form-group
                = f.label "コーデ名", id: 'outfit-name' 
                = f.text_field :name, class: 'form_control'
          .row
            .col-md
              .form-group.mood-form
                = f.label "ムード", id: 'outfit-mood' do
                  = f.select :mood_id, options_for_select(@moods.map{|o| [o.name, o.id]}, prompt: "指定なし"), {}, {class: 'form-control', id: 'mood-form'}
                  -# = f.select :mood_id, options_for_select(@moods.pluck(:name).uniq.map.with_index(1){|o, index| [o, {'data-tag_id'=>index}]}, Mood.first.name), {}, {class: 'form-control', id: 'category-form'}
                -# = f.select :mood_id, options_for_select(Mood.all.map{|m| [m.name, m.id, {}]}, {selected: @outfit.mood_id}), {prompt: "指定なし"}, class: "form-control"
                -# = m.collection_select( :id, Tag.all.pluck(:tagname).uniq.map.with_index(1){|o, index| [o, {'data-tag_id'=>index}]}, :id, Tag.first.tagname)
            -# 上のselectの記述でtag_idを取得できれば、あとはコントローラに必要な一文書くだけ！
          .row
            .col-md
              .form-group
                = f.label "", id: 'add-btn' do
                  = f.submit '追加する', class: 'btn btn-success'