.main
  .main__upper
    .container
      = link_to outfits_path, class: 'backward col-md-1' do
        %span.back-icon
          = icon('fa fa-2x','angle-double-left')
        %span.backward-btn
          戻る
      .main__upper__title
        コーデの追加
      .main__upper__cover
        = form_for @outfit do |f|
          #img_field{:onclick => "$('#file').click()"}
            %i.fas.fa-image
            %i.fas.fa-file-upload.add
          = f.file_field :image, class: "image", style: "display:none;", id: "file"

          .rw
            .fg
              = f.label :name, id: 'outfit-name' 
              = f.text_field :name, class: 'fc'
          .rw
            .fg.mood-form
              = f.label "ムード", id: 'outfit-mood' do
                = f.select :mood_id, options_for_select(@moods.pluck(:name).uniq.map.with_index(1){|o, index| [o, index]}), {include_blank: "今の気分を選択してください"}, {class: 'mood-form', id: 'mood-form'}
          .rw
            .fg
              = f.label "", id: 'add-btn' do
                = f.submit '追加する', class: 'btn btn-success'