.main__lower
  .container
    = link_to outfits_path, class: 'backward col-md-1' do
      .back-icon
        = icon('fa fa-2x','angle-double-left')
      .backward-btn
        戻る
    .main__lower__title
      コーデの詳細
    .main__lower__outfit-show#outfit-show
      #a-outfit-content
        = image_tag @outfit.image.to_s, alt: '画像を表示できませんでした', height: '400px', width: '400px', id: 'show-image'
        %label#show-mood
          #show-mood-content
            ムード:
          = @outfit.mood.name
        %label#show-name
          #show-name-content
            コーデ名:
          = @outfit.name
      #btns
        .btn.btn-warning
          = link_to '編集する', edit_outfit_path(@outfit), method: :get
        .btn.btn-danger
          = link_to '削除する', "/outfits/#{@outfit.id}", method: :delete