!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OOTD
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    #modal.modal-content
    .wrapper
      %header
        .header-inner
          .logo
            = link_to outfits_path do
              %i.fas.fa-tshirt.app-name OOTD
          - if user_signed_in?
            .header-wrap
              %ul.header-nav.relative
                %div
                  %label.menu3#menu-btn
                    %input#menu3{:type => "checkbox", :value => "off"}/
                    %label.menu3-1{:for => "menu3"}
                    %label.menu3-2{:for => "menu3"}
                    %label.menu3-3{:for => "menu3"}
                  .header-dropdown.absolute
                    .btm-border
                      = link_to "Home", outfits_path, class: 'one-line dropdown-wrap'
                    %div
                      = link_to "Edit", edit_user_registration_path, class: 'dropdown-wrap'
                    %div
                      = link_to "Log out", users_sign_out_path, method: :delete, class: 'dropdown-wrap'
      - if notice
        %p.notice
          = notice
      - elsif alert
        %p.alert
          = alert
      .content
        .helmet
          - if current_user
            -# = image_tag asset_path("ootd-background.jpg", alt: "header-image", width: "300px", height: "300px", backgroundSize: "contain", zIndex: "0.3"), id: "header-image"
            .helmet__profile
              - if current_user.image.present?
                = image_tag current_user.image.url, class: "helmet__profile__user-image"
              - else
                = image_tag "default.jpg", class: "helmet__profile__user-image"
              .helmet__profile__user-name
                = current_user.username
        = yield
    %footer
      .content
        ©︎ 2020 OOTD by Tomoya Sonokui