!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OOTD
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header
      - if notice
        %p.notice
          = notice
      - elsif alert
        %p.alert
          = alert
      - if user_signed_in?
        .signout-btn
          = link_to "ログアウト", users_sign_out_path, method: :delete
          = link_to "アカウントの編集", edit_user_registration_path
    .header
      - if current_user
        .header__profile
          - if current_user.image.present?
            = image_tag current_user.image.to_s, class: "header__profile__user-image"
          - else
            = image_tag "default.jpg", class: "header__profile__user-image"
          .header__profile__user-name
            = current_user.username
      - else
        %span
      
    = yield
    %footer
      .content
        ©︎ 2020 OOTD by Tomoya Sonokui